* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.Nav {
  height: 80px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: lightblue;
  align-items: center;
}

.title {
  font-size: 2em;
  display: inline;
  padding: 20px;
}

.left-nav {
  margin: 0;
  flex: 1 1 200px;
  display:inline;
}

.right-nav {
  display: inline-block;
  text-align: center;
  display: inline;
}

.Main {
  background-color: lightgray;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.Main > div {
  border: 1px solid black;
  /* padding: 1.5rem; */
}

button, input {
  font-size: 1em;
  border: 1px solid black;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  cursor: auto;
}

/* .article-title {

}

.article-photo {

}

.article-details {

} */

