* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.Nav {
  height: 80px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: lightblue;
  align-items: center;
}

.Nav a,
input[type=button],
input[type=submit],
input[type=reset] {
  /* font-size: 1em; */
  text-decoration: none;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  padding: 0 3px 0;
}

.Nav a:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  text-decoration: none;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.title {
  font-size: 2em;
  display: inline;
  padding-right: 20px;
}

.left-nav {
  margin: 0;
  flex: 1 1 150px;
  display:inline;
}

.right-nav {
  display: inline;
}

/* Main properties will be moved inside a new component called Grid  */
.Grid {
  background-color: lightgray;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.Grid > div {
  border: 1px solid black;
  /* padding: 1.5rem; */
}

/* button, input {
  font-size: 1em;
  border: 1px solid black;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  cursor: auto;
} */

.card-title {
  line-height: 0.9em;
}

.card-title a {
  /* font-size: 1em; */
  text-decoration: none;
  color: black;
}

.card-title a:hover {
  /* font-size: 1em; */
  text-decoration: underline;
}

.card-photo {
  width: 100%;
  height: 250px;
  background-color: lightsalmon;
  margin-bottom: 0.5em;
}

.card-details {
  margin: 0;
  flex: 1 1 200px;
  display:inline;
  font-size: 1em;
}

.card-details a {
  background-color: steelblue;
  color: white;
  border-radius: 10px;
  margin-left: 5px;
  padding: 0 5px 0;
  text-decoration: none;
}

.card-blurb {
  margin-top: 0.5em;
  line-height: 1em;
}
